/* #region common */

body {
    overflow: hidden;
}

/* #region header */
header {
    background-color: lightseagreen;
}

.app-logo h1 {
    
}

.user > img {
    border-radius: 50%;
}

/* #endregion header */

/* #region main */

main aside, 
main div {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

/* #region aside */

.conversation {
    border-bottom: 1px solid lightseagreen ;
}

.conversation.active {
    background-color: azure;
}

.conversation img {
    border-radius: 50%;
    border: 1px solid lightgrey;
}

/* #endregion aside */

.received {
    background-color: lightsteelblue;
    border-radius: 20px;
}

.sent {
    background-color: lightgreen;
    border-radius: 20px;
}

/* #endregion main */

/* #region footer */

footer {
    background-color: lightseagreen;
}

/* #endregion footer */
